:root {
    --light-pink: #F7E2E2;
    --light-blue: #E3F6F5;
    --blue: #5B7DB1;
    --black: #272343;
    --light-green: #BAE8E8;

}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
 
  section:not(:first-child) {
    background-color: var(--black);
    width: 100%;
    height: auto;
    clear: both;
    float: left;
  }
  
  section:not(:first-child) .section-body {
    padding: 140px 0px 140px 0px;
  }
  
  section:not(:first-child) .section-body .section-container {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px 40px;
    position: relative;
    clear: both;
  }
  
  section:not(:first-child) .section-body .section-container .section-title span {
    display: inline-block;
    color: var(--black);
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  section:not(:first-child) .section-body .section-container .section-title h3 {
    color: var(--blue);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
  }
  
  section:not(:first-child) .section-body .section-container .section-content {
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 140px;
  }
  
  section:not(:first-child) .section-body .section-container .section-content p {
    line-height: 2;
    color: var(--black);
    margin: 40px 0px;
  }
  
  section:not(:first-child) .section-body .section-container .section-content h4 {
    color: var(--black);
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
  }
  
  section:nth-child(odd) {
    background-color: #ffff;
  }
  
  section:nth-child(even) {
    background-color: var(--light-pink);
  }

  #black-section {
    background-color: #ffff;
  }

  
  #it_work {
    background-color: var(--light-blue);
  }
  
  .sticky {
    padding: 20px 50px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 30px 50px;
    z-index: 10;
  }
  
  header a {
    color: #ffff;
    font-family: "Comic Sans MS", Cursive;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
    list-style: none;
  }
  
  header .mainMenu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .mainMenu li {
    position: relative;
    list-style: none;
  }
  
  header .mainMenu li a {
    position: relative;
    margin: 0 15px;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    letter-spacing: 0.2px;
    font-weight: 400;
  }
  
  header .mainMenu li a:hover {
    color: var(--light-blue);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  header .open-menu {
    color: #fff;
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  
  header .close-menu,
  header .icons i {
    color: #fff;
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 1060px) {
    header .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000000;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: var(--light-blue);
      -webkit-transition: top 1s ease;
      transition: top 1s ease;
      display: none;
    }
    header .mainMenu li {
      margin-top: 30px;
    }
    header .close-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    header .open-menu {
      display: block;
    }
  }
  

  #teamprofile {
    min-height: 100vh;
    background-color: var(--blue);
    font-family: "Open Sans", sans-serif;
  }
  
  #teamprofile .container {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px 40px;
    position: relative;
  }
  
  #teamprofile .container .content {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  #teamprofile .container .content .left {
    width: 50%;
    padding-right: 50px;
    position: relative;
  }
  
  #teamprofile .container .content .left .name {
    font-size: px;
    line-height: 28px;
    color: var(--light-blue);
    font-weight: 500;
  }
  
  #teamprofile .container .content .left .subject {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 16px;
    font-family: "Comic Sans MS", Cursive;;
  }
  
  #teamprofile .container .content .left .members ul li i {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    left: 10px;
    line-height: 5;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    line-height: 4;
  }
  

  
  
  
  @media (max-width: 1060px) {
    .container .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .container .content .left {
      margin-top: 10vh;
      width: 100%;
    }
    .container .content .right {
      width: 100%;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }
  }
  
  #tools {
    background-color: var(--light-pink);
  }
  
  #tools .section-content ul li {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  #tools .section-content ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: 2vh 2vh;
  }
  
  #tools .section-content ul li:hover a {
    color: var(--blue);
  }
  
  
  
  .expand {
    -webkit-animation: cursorAnim3 0.5s forwards;
            animation: cursorAnim3 0.5s forwards;
    border: 1px solid var(--blue);
  }
  
  
  
  
  @media (max-width: 768px) {
    .bg-modal .modal-box .inner-content {
      width: 300px;
    }
  }
  
  @media (max-width: 1040px) {
    .bg-modal .modal-box .inner-content {
      width: 500px;
    }
  }
  
  @media (max-width: 1400px) {
    .bg-modal .modal-box .inner-content {
      width: 700px;
    }
  }

  #prototype {
    background-color: var(--light-blue);
  }
  

  #feedback .section-container .section-content span {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--black);
  }
  
 
  a {
    color: var(--black);
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
 